/*
 * Table of Contents
 *
 * 1.0 - General
 *   1.1 - Base styles
 *	 1.2 - Wordpress core
 *	 1.3 - Images
 *	 1.4 - Typography
 *	 1.5 - Links
 *	 1.6 - Lists
 *	 1.7 - Forms
 *	 1.8 - Buttons
 *	 1.9 - Tables
 *	 1.10 - Misc
 * 2.0 - Header
 * 3.0 - Content
 *   3.1 - Comments
 * 4.0 - Widget area
 * 5.0 - Footer
 * 6.0 - Mediaqueryes
 */

/**
 * 1.0 - General
 */
 
/**
 * 1.1 - Base styles
 */
html, body {
    font-size: 18px;
    line-height: 27px;
    height: 100%; 
}
body {
    background-color: #f7f8fb;
    color:#272727;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
.boxed {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1200px;
    webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}
.wide {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
	background-color: #fff;
}
.all {
	flex: 1;
    margin-bottom: 72px;
}
div {
    word-wrap: break-word;
}

/**
 * 1.2 - Wordpress core
 */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/**
 * 1.3 - Images
 */
img {
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}
img, img:focus {
    outline:none;
}
.gallery-caption {
    font-weight: bold;
}

/**
 * 1.4 - Typography
 */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, .h1 {
    font-size: 2.5rem;
}
h2, .h2 {
    font-size: 2rem;
}
h3, .h3 {
    font-size: 1.75rem;
}
h4, .h4 {
    font-size: 1.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
h6, .h6 {
    font-size: 1rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/**
 * 1.5 - Links
 */
a:link {
    color: #0033cc;
    outline: none;
}
a:hover {
    color: #c00 !important;
    outline: none;
}
a:visited {
    color: #663399;
    outline: none;
}

/**
 * 1.6 - Lists
 */
 
/**
 * 1.7 - Forms
 */
:focus::-webkit-input-placeholder {
    color: transparent
}
:focus::-moz-placeholder {
    color: transparent
}
:focus:-moz-placeholder {
    color: transparent
}
:focus:-ms-input-placeholder {
    color: transparent
}

/**
 * 1.8 - Buttons
 */
 
/**
 * 1.9 - Tables
 */

/**
 * 1.10 - Misc
 */
.center {
	text-align: center;
}

/**
 * 2.0 - Header
 */
.site-header {
    background-color: #4571d8;
    margin-bottom: 72px;
}
.site-title {
    color: #fff;
    font-size: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

/**
 * 3.0 - Content
 */
.fix-width-article {
    margin-left: -15px;
    margin-right: -15px;
}
.sticky {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}
article {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}
.meta {
    margin-bottom: 20px;
}
.meta p {
    margin-bottom: 0rem;
    color: #b4b4b4;
}
.meta a:link, .meta a:visited {
    color: #b4b4b4;
}
.meta a:hover {
    color: #c00 !important;
}

/**
 * 3.1 - Comments
 */
.commentlist .bypostauthor {
    border-top: 10px solid orange;
}
.commentlist li ul.children li.bypostauthor {
    border-top: 10px solid orange;
}
@media (min-width: 979px) {
    .comment-list .children {
        padding: 0;
        margin-left: 74px;
        padding-bottom: 15px;
    }
    .comment-list .media {
        margin-top: 0;
    }
}

/**
 * 4.0 - Widget area
 */
.sidebar {
    background-color: #e7eff2;
    padding: 20px;
}
.widget {
    margin: 25px 0;
}

/**
 * 5.0 - Footer
 */
footer {
    background-color: #4571d8;
    color: #fff;
    padding-top: 24px;
}